@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>InTandem Booking Sample</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Avnish's In Tandem Mock-Up</h2>
        <p>
            This is a sample project to show features
            for the main project.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>